.candidatesGrid {
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  grid-gap: 1rem;
}

@media (min-width: 901px) {
  .candidatesGrid {
    grid-template-columns:
      calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem)
      calc(25% - 0.75rem);
  }
}
