:root {
  --color-white: #ffffff;
  --color-black-haze: #f8f9f9;
  --color-porcelain: #e4e7e9;
  --color-pale-sky: #6f7680;
  --color-grey: #6f7680;
  --color-cornflower-blue: #5d97e8;
  --color-yellow-green: #c8e677;
}

html {
  background-color: var(--color-black-haze);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

.flex {
  display: flex;
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.subtitle {
  margin: 0.5rem 0 0;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.candidate-details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-porcelain);
  padding-bottom: 0.4rem;
  margin-top: 0.4rem;
  font-size: 0.8rem;
}
.candidate-details:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.label {
  color: var(--color-pale-sky);
}

.info {
  text-align: right;
}

@media (min-width: 901px) {
  .candidate-details {
    font-size: 1rem;
  }
}
